<section class="hero">
  <h1>Autopilot</h1>
  <h2>Australian order fulfilment - made easy.</h2>
  <a class="button" href="#">Get Started</a>
</section>

<section>
  <h2>Put your store on Autopilot</h2>
  <p>AutoPilot takes the hassle out of running your online store, so that you
  can focus on the important stuff <em>like growing your business!</em></p>
</section>

<section>
  <h2>The Autopilot story</h2>

  <p>Hi, I'm Matt. I run a number of online stores and know how time-consuming
  it is to pick, pack and ship all of your orders out.</p>

  <p>I found that existing order fulfilment companies were not suitable for my
  small eCommerce stores. They were difficult to set up, confusing, inflexible,
  and expensive.</p>

  <p>Disappointed, I resumed shipping my own orders and soon realised that
  there must be other online stores in the same position as I was. By storing
  and shipping their stock, I could offer the service that I was looking for.
  And so AutoPilot was born.</p>

  <p>Since we're a small business, we offer the flexibility, personal service,
  and care that you can't get from a large 3rd party logistics (3PL) company.
  We know how important it is for orders to be picked, packed and shipped
  quickly and correctly because that's what we value in our own online
  stores.</p>

  <p>We specialise in small items, and ship via Australia Post's eParcel system
  where possible.</p>

  <p>If you want a reliable, straightforward 3PL solution, feel free to get in
  touch!</p>

  <p>Located in Cheltenham, Melbourne.</p>
</section>

<section>
  <ul>
    <li>No Minimums</li>
    <li>No Commitments</li>
    <li>No Fuss</li>
  </ul>
</section>

<section>
  <h2>How it works</h2>
  <ul>
    <li>
      <h3>Install Autopilot</h3>
      <p>AutoPilot is an app which works with online stores running on the
      Shopify platform.</p>
    </li>
    <li>
      <h3>Send us your stock</h3>
      <p>Post or deliver your stock to our premises.</p>
      <p>We'll store it until any orders are placed, then we jump into
      action!</p>
    </li>
    <li>
      <h3>We fulfil</h3>
      <p>We lovingly pick &amp; pack your orders, then ship them to your
      customers.</p>
    </li>
    <li>
      <h3>Relax</h3>
      <p>Time for piña coladas on the beach!</p>
    </li>
  </ul>

  <a class="button" href="#">Get Started Now</a>
</section>

<section>
  <h2>Pricing</h2>
  <strong>We try to make our pricing as simple and easy to understand as
    possible.</strong>
  <small>Our pricing consists of three basic costs: Picking &amp; Packing,
    Shipping, and Storage.</small>
  <ul>
    <li>
      <h3>$2.50 per order</h3>
      <h4>Picking &amp; Packing</h4>
      <p>Includes up to 5 items per order, and 5 minutes towards physically
      packing the order.</p>
      <p>Orders requiring longer than 5 minutes packing time, or have more than
      5 items, are charged at a higher rate.</p>
    </li>
    <li>
      <h3>At cost - Shipping is expensive enough</h3>
      <h4>Shipping</h4>
      <p>We specialise in small items and ship mainly via Australia Post's
      eParcel system.</p>
      <p>This allows some great pricing on parcels up to 22kg. Contact us for
      more details.</p>
    </li>
    <li>
      <h3>$10/m<sup>3</sup> per month</h3>
      <h4>Storage</h4>
      <p>Whether you have a lot of stock, or only a little; we'll find a
      solution for you.</p>
      <p>Get in touch to find out how we can work together!</p>
    </li>
  </ul>
  <a class="button" href="#">Get Started Now</a>
</section>

<section>
  <h2>Build my store</h2>
  <p>Do you have a brilliant idea, but don't know how to build an online store?
  <em>Get in touch and we can build it for you!</em></p>
</section>

<section>
  <h2>Contact Us</h2>
  <p>Drop us an email or give us a call to discuss how AutoPilot can save your
  business time and effort.</p>
  <ul>
    <li>(03) 9013 6811</li>
    <li>info@autopilot-fulfilment.com.au</li>
    <li>Cheltenham, Melbourne VIC 3192</li>
  </ul>
</section>
